<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <select name="goals" id="goals_">
      <option value="">Бути щасливим!</option>
      <option value="">Бути багатим!</option>
      <option value="">Жити в мирі!</option>
      <option value="" selected>Стати розробником!</option>
    </select>
    <button type="submit">Здійснити</button>
  </body>
</html>
