<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Imagine_Dragons_logo_%28WB%29.png/640px-Imagine_Dragons_logo_%28WB%29.png"
        alt="music"
      />
      <h1 class="main-title"><%= title %></h1>
      <p class="main-text">Is my favourite music band!</p>
    </div>
  </body>
</html>
